.navbar {
    width: 80px;
    height: 100vh;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--mantine-color-gray-3);
    background-color: var(--mantine-color-body);
}

.navbarMain {
    flex: 1;
    margin-top: var(--mantine-spacing-xl);
}

.link {
    width: 50px;
    height: 50px;
    border-radius: var(--mantine-radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mantine-color-gray-7);
    transition: all 0.2s ease;

    &:hover {
        background-color: var(--mantine-color-gray-0);
        color: var(--mantine-color-blue-6);
    }

    &[data-active] {
        background-color: var(--mantine-color-blue-light);
        color: var(--mantine-color-blue-7);
    }
}

@media (prefers-color-scheme: dark) {
    .navbar {
        border-right-color: var(--mantine-color-dark-4);
    }

    .link {
        color: var(--mantine-color-dark-0);

        &:hover {
            background-color: var(--mantine-color-dark-6);
            color: var(--mantine-color-blue-4);
        }

        &[data-active] {
            background-color: var(--mantine-color-blue-9);
            color: var(--mantine-color-blue-3);
        }
    }
}